
.header {
	background-color: #505050;
	display: flex;
	vertical-align: middle;
	align-items: center;
}
.burger {
	background: #202020;
	height: 56px;
	width: 60px;
	display: flex;
	align-items: center;
} 
.burger span {
	display: block;
	width: 24px;
	background: #fff;
	height: 2px;
	position: relative;
	margin:0 auto;
	cursor: pointer;
	opacity: 0;
}
.burger span:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 2px;
	top: -6px;
	display: block;
	background: #fff;
}
.burger span:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 2px;
	bottom: -6px;
	display: block;
	background: #fff;
}
 .search_block {
    margin-left: auto;
    padding: 15px 15px 0 0;
  }
.search {
	margin-right: 50px;
	background-attachment: fixed;
	border-radius: 2px;
	position: relative;
	max-width: 570px;
	height: 30px;
	margin-left: auto;
	width: 100%;
	border:none;
	z-index: 2;
	
}

.search input {
	width: 570px;
    height: 27px;
    background:#707070;
    border-radius: 3px;
    border:none;
    padding: 0 35px;
    line-height: 27px;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif; 
}
 
.search:after {
	 content: "\e8a1";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 14px;
    top: 6px;
    color: #fff;
}

.search:before {
    content: "\e660";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 12px;
    top: 6px;
    color: #fff;
  }

.breadcrumbs {
	padding: 0 30px;
}
.breadcrumbs ul li a:hover {
	cursor: pointer;
	color: black;
}

.breadcrumbs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.breadcrumbs ul li {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}


.breadcrumbs ul li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;

}

.breadcrumbs ul li a:hover {
	color: black;
	cursor: pointer;
}

.breadcrumbs ul li:first-child:after  {
	color: #fff;
	font-size: 14px;
	margin:0 15px;
	content: '\e7c3';
	font-family: 'icomoon';
}

.icon-keyboard-arrow-right:before {
	content: "\e7c3";
	display: block;
	width: 24px;
	color: black;
	height: 15px;
	position: relative;
	margin: auto;
	cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
  
}

.navigation {
	background: #505050;
    height: 56px;
    display: flex;
}

#menuToggle
{
  display: block;
  position: relative;
  top: -35px;
  left: 5px;

  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle li a
{
  color: #232323;
  
  transition: color 1s ease;
}

#menuToggle a:hover
{
  color: white;
}


#menuToggle input
{
  display: block;
  width: 60px;
  height: 56px;
  position: absolute;
  top:;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span 
{
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  margin-left:13px;
  margin-top: 0;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 31px 23px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 1s ease;
              
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(-30deg) translate(7px, -10px);
  background: #fff;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 1;
  transform: rotate(0deg) 
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(29deg) translate(-7px, -3px);
}

#menu
{
  position: fixed;
  width: 60px;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  content: "\e61f"
  padding: 30px 0;
  font-size: 22px;
  font-family: 'icomoon'

}
.menu li span {
	width: 60px;
    height: 56px;
    display: block;
    color: #ccc;
    text-align: center;
    line-height: 56px;
    font-size: 22px;
}

.menu li a {
	display: flex;
    width: 185px;
    color: #ccc;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menu {
	width:60px;
	background-color: #202020;
	overflow:auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-top: 60px;
}
#menu a {
	display: flex;
	height: 50px;
	width: 60px;
    align-self: center;
}

.icon-dashboard2:before {
	content: "\e61f";
	position: relative;
	display: inline-block;
	font-family: 'icomoon';
	color:#cccccc;
	cursor: pointer;
	font-style: normal;
	padding: 0 20px;
	font-size: 20px;
	align-self: center;
	margin:0 auto;

}

.icon-dashboard:hover {
	background:#202020;
	color: #3a3a3a;
	cursor: pointer;
	
}

.icon-credit-card4:before {
	content: "\e61e";
	position: relative;
	display: inline-block;
	font-family: 'icomoon';
	color:#cccccc;
	cursor: pointer;
	font-style: normal;
	padding: 0 20px;
	font-size: 20px;
	margin:0 auto;
	align-self: center;
	
	
}

.icon-group2:before {
	content: "\e8d8";
	position: relative;
	display: inline-block;
	font-family: 'icomoon';
	color:#cccccc;
	cursor:pointer;
	font-style: normal;
	padding: 0 20px;
	font-size: 20px;
  	display: block;
 	width: 100px;
  	cursor: pointer;
  	margin:0 auto;
  	align-self: center;
}

	

	








::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}


